<div fxFlex="50" fxFlexOffset="25">
  <app-loader *ngIf="loading"></app-loader>
  <mat-card *ngIf="todos.length">
    <mat-card-content fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let todo of todos">
        <div fxLayout="row" fxLayoutAlign="start center"  fxLayoutGap="10px">
          <div>
            <mat-icon mat-list-icon *ngIf="todo.isComplete; else showIncomplete">check_box</mat-icon>
            <ng-template #showIncomplete>
              <mat-icon mat-list-icon>check_box_outline_blank</mat-icon>
            </ng-template>
          </div>

          <div>{{todo.description}}</div>
        </div>
        <div>{{todo.dueDate | date:'MM/dd/yyyy'}}</div>
      </div>
    </mat-card-content>
  </mat-card>
  <!-- TODO: add in a empty state -->
</div>
